/*nav
{
	word-spacing: 20px;
	margin-top:0;
}
a
{
	color: #FFFFFF;
	margin-top:0;
}
a:hover
{
	background-color: #FFFFFF;
}
.first
{
	
	width: 50%;
	background-color: #2F354B;
}
.bd
{
	background-color: #FFFFFF;
}
@media only screen and (max-width:700px) {

	.first
	{
		width: 100%;
	}

	}*/

.card
{
	float: left;

}

.head-new
{
	 width: 100%;
   	 	height: 50vh;
   	  background-color: #2F354B;
    
   
}
.left-new{
    width: 50%;
    height: 50vh;
    background-color: #5FCCF5;
    top: 0;
    border-bottom-right-radius: 20px;
}

.head{
    width: 100%;
    height: 100vh;
    background-color: #5FCCF5;
    
}
.left{
    width: 60%;
    height: 100vh;
    background-color: #2F354B;
    top: 0;
    border-bottom-right-radius: 20px;
}
/*
@media only screen and (max-width:600px) {
    .head {
        
       background-color: #2F354B;
    }
    .left {
        width: 100%;
    }
}*/